body {
  background-color: white;
  margin: 0;
  /* width: 87.33333333333333%; */
  /* left: -30px; */ /* right: 80px; */
  height: 100vw;
  margin: 0px 80px;
  background: linear-gradient(
    to bottom,
    #000000 0px,
    #000000 937px,
    #ffffff 937px,
    #ffffff 100%
  );
  font-family: Circular;
  overflow-x: hidden;
}

/* header starts here */
/* ---------------------------------------------------------- */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: white;
  width: 100%;
  height: 80px;
  /* overflow-x: hidden; */
}

/* logo in heder starts here */
/* ---------------------------------------------------------- */
.a-logo {
  width: 9.5%;
  /* height: 115.5%; */
  margin-left: -1%;
}

/* central menu in header starts here */
/* ---------------------------------------------------------- */
.central-menu {
  display: flex;
  position: relative;
  align-items: center;
  align-content: center;
  justify-content: center;
  list-style: none;
  margin-left: 21.5%;
  width: 100%;
  line-height: 20px;
}
.central-menu li {
  display: flex;
  position: relative;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.central-menu a:hover {
  display: flex;
  position: relative;
  align-items: center;
  align-content: center;
  justify-content: center;
  color: rgb(190, 190, 190);
}
.central-menu li::before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  right: 50%;
  top: 139%;
  background: #ffffff;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.central-menu li:hover::before {
  left: 0%;
  right: 0%;
  top: 139%;
  height: 2px;
  border-radius: 20px;
}

.central-menu li a {
  display: flex;
  position: relative;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  font-size: 16px;
}
/* ----------------------------------- */
#central-menu-li1 {
  right: 11%;
}
#central-menu-li2 {
  right: 6.5%;
}
#central-menu-li3 {
  right: 2%;
}

#central-menu-a1 {
  position: relative;
}

#central-menu-a2 {
  position: relative;
  /* left: -34%; */
}
#central-menu-a3 {
  position: relative;
  /* left: -2%; */
}

/* right menu in header starts here */
/* ---------------------------------------------------------- */
.right-menu {
  display: flex;
  position: relative;
  align-items: center;
  align-content: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 30%;
  align-items: center;
}
.right-menu li {
  display: flex;
  position: relative;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.right-menu li a {
  position: relative;
  text-decoration: none;
  color: white;
  font-size: 14.5px;
  font-weight: bold;
  display: flex;
  position: relative;
  align-items: center;
  align-content: center;
  justify-content: center;
}
/* -----------------become host------------------- */
#right-menu-background-become {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background: transparent;
  border-radius: 24px;
  width: 100%;
  height: 38px;
  right: 16%;
}
#right-menu-background-become:hover {
  background: grey;
}
#right-menu-become {
  position: relative;
  left: 5%;
}
/* -----------------language------------------------ */
#right-menu-background-language {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  right: 6%;
  width: 28%;
  height: 28px;
  background: transparent;
  border-radius: 24px;
}
#right-menu-background-language:hover {
  background: grey;
}

#language {
  position: relative;
  width: 103%;
  height: 19px;
  filter: invert(100%);
  right: 5%;
  top: 1px;
}
/* ---------------user-------------------------- */
.user {
  display: flex;
  position: relative;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: white;
  height: 42px;
  width: 74%;
  border-radius: 42px;
  left: 0%;
}
#menu {
  position: relative;
  width: 43%;
  display: flex;
  position: relative;
  align-items: center;
  align-content: center;
  justify-content: center;
  left: 5%;
}
#user-icon {
  position: relative;
  width: 78%;
  /* right: -6%;
            bottom: -13%; */
  left: -5%;
}

/* main content starts here */
/* ---------------------------------------------------------- */
.content {
  width: 100%;
  height: 100%;
  /* overflow-x: hidden; */ /* background-color: white; */
}
/* search bar in main content starts here */
/* ---------------------------------------------------------- */

.search-bar {
  position: relative;
  color: white;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 32px;
  width: 70.5%;
  height: 66px;
  margin: 0 auto;
  color: black;
  align-items: center;
}
/* ---------------------------------- */
.search-bar ul {
}
#search-bar-ul1 {
  position: relative;
  left: 1.6%;
  /* margin-right: 13%; */ /* padding-right: 49%; */ /* word-spacing: 15px; */
}
#search-bar-ul2 {
  position: relative;
  left: 15%;
  border-left: 1px solid;
  border-left-style: groove;
}
#search-bar-ul3 {
  position: relative;
  left: 13%;
  border-left: 1px solid;
  border-left-style: groove;
}
#search-bar-ul4 {
  position: relative;
  left: 11%;
  border-left: 1px solid;
  border-left-style: groove;
}
.search-bar li {
  position: relative;
  list-style: none;
  left: -7%;
  /* top: 12%; */ /* letter-spacing: 0.04em; */
}
/* ---------------------------------- */
#search-bar-ul1-location {
  font-size: 11px;
  font-weight: bolder;
  /* top: 0%; */
  margin-bottom: 2%; /* word-spacing: 15px; */
  letter-spacing: 0.1em;
}
#search-bar-ul1-where {
  font-size: 14px;
  opacity: 60%;
  /* top: 0%; */
}
/* ---------------------------------- */
#search-bar-ul2-check-in {
  font-size: 11px;
  font-weight: 900;
  margin-bottom: 5%;
  left: -23%;
  letter-spacing: 0.1em;
  font-family: "Circular-bold";
}
#search-bar-ul2-add-dates1 {
  font-size: 14px;
  opacity: 60%;
  left: -23%;
}
/* ---------------------------------- */
#search-bar-ul3-check-out {
  font-size: 11px;
  font-weight: bolder;
  margin-bottom: 5%;
  left: -23%;
  letter-spacing: 0.1em;
}
#search-bar-ul3-add-dates2 {
  font-size: 14px;
  opacity: 60%;
  left: -23%;
}
/* ---------------------------------- */
#search-bar-ul4-guests {
  font-size: 11px;
  font-weight: bolder;
  margin-bottom: 5%;
  left: -23%;
  letter-spacing: 0.1em;
}
#search-bar-ul4-add-guests {
  font-size: 14px;
  opacity: 60%;
  left: -23%;
}
/* --------search-bar-magnifier------- */
#search-bar-magnifier {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.5%;
  height: 48px;
  background-image: radial-gradient(
    circle at center center,
    rgb(255, 56, 92) 0%,
    rgb(230, 30, 77) 27.5%,
    rgb(227, 28, 95) 40%,
    rgb(215, 4, 102) 57.5%,
    rgb(189, 30, 89) 75%,
    rgb(189, 30, 89) 100%
  );
  border-radius: 24px;
  left: -1%;
}
#search-icon-image {
  position: relative;
  display: flex;
  width: 33%;
  height: 31%;
  left: 1%;
}
#search-text {
  /* font-size: 16px;
        font-weight: bold;
        color: white; */
}

/* red section in main content starts here */
/* ---------------------------------------------------------- */

#redSection-help-refugees {
  background-color: #ff385c;
  height: 27.4%;
  border-radius: 12px;
  display: flex;
  position: relative;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-top: 6.3%;
}
#redSection-help-refugees-div {
  display: flex;
  position: relative;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  bottom: 3%;
}
#help {
  padding-left: 0%;
  padding-right: 0%;
  background: #ff385c;
  font-size: 37px;
  font-weight: bolder;
  color: white;
  line-height: 38%;
  /* top: 130%; */
}
#LearnMore {
  border: 1px solid #ffffff;
  border-radius: 8px;
  color: white;
  font-size: 14px;
  padding: 8.9px 16.6px;
  text-decoration: none;
  font-weight: bold;
}

/* Let your curiosity in main content starts here */
/* ---------------------------------------------------------- */

#let-your-curiosity {
  display: flex;
  position: relative;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  width: auto;
  /* background-color: navajowhite; */
  height: 44.2%;
  top: 7%;
}

#let-your-curiosity-div {
  display: flex;
  position: relative;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
#let-your-curiosity-pic {
  display: flex;
  position: absolute;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: 12px;
}
#let-your-curiosity-text {
  display: flex;
  position: absolute;
  align-items: center;
  align-content: center;
  justify-content: center;
  color: white;
  top: 62.4%;
  font-weight: bold;
  font-size: 233%;
}
#let-your-curiosity-button {
  display: flex;
  position: absolute;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: white;
  top: 80%;
  border-radius: 54px;
  width: 13.3%;
  height: 9.2%;
  font-size: 18px;
  font-weight: bold;
  border: none;
}
#let-your-curiosity-button p {
  background: -webkit-linear-gradient(
    90deg,
    rgb(111, 1, 156) 0%,
    rgb(198, 1, 126) 135.12%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Inspiration for your next trip in main content starts here */
/* ---------------------------------------------------------- */

#inspiration-next-trip {
  display: flex;
  position: relative;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  width: auto;
  height: 41.5%;
  top: 14.5%;
  cursor: pointer;
}
/* -------------------------------------- */
#inspiration-next-trip-text {
  display: flex;
  position: absolute;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 22%;
  bottom: 86.8%;
  right: 32.8%;
}
#inspiration-next-trip-text-p {
  position: absolute;
  font-weight: bold;
  font-size: 32px;
  color: black;
  letter-spacing: 0.006em;
}
/* ----------------------------------------- */
#inspiration-next-trip-cities {
  display: flex;
  position: absolute;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 66.8%;
  top: 7%;
}
.cities {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 10%;
}
/* -----------city divs---------- */

#eureka {
  height: 100%;
  width: 23.4%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  left: 0%;
  position: absolute;
  background: rgb(204, 45, 74);
}
#kansas {
  height: 100%;
  width: 23.4%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  left: 25.5%;
  position: absolute;
  background: rgb(188, 26, 110);
}
#hermann {
  height: 100%;
  width: 23.4%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  left: 51%;
  position: absolute;
  background: rgb(222, 49, 81);
}
#saint {
  height: 100%;
  width: 23.4%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  left: 76.6%;
  position: absolute;
  background: rgb(217, 59, 48);
}
/* -----------city images------------ */
.inspire-cities-img {
  position: absolute;
  width: 23.4%;
  height: auto;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  z-index: 1;
}

#city-eureka {
  left: 0%;
  width: 100%;
}
#city-kansas {
  left: 0%;
  width: 100%;
}
#city-hermann {
  left: 0%;
  width: 100%;
}
#city-saint {
  left: 0%;
  width: 100%;
}
/* -------bellow the image text----------- */

.inspire-cities-upper-text-class {
  position: absolute;
  top: 40%;
  color: white;
  font-weight: bold;
  font-size: 27px;
  z-index: 1;
}
.inspire-cities-down-text-class {
  position: absolute;
  top: 50%;
  color: white;
  font-size: 15px;
  z-index: 1;
}

#city-eureka-upper-text {
  left: 6.5%;
  top: 48%;
}
#city-eureka-down-text {
  left: 6.5%;
  top: 63%;
}

#city-kansas-upper-text {
  left: 6.5%;
  top: 48%;
}
#city-kansas-down-text {
  left: 6.5%;
  top: 63%;
}
#city-hermann-upper-text {
  left: 6.5%;
  top: 55%;
}
#city-hermann-down-text {
  left: 6.5%;
  top: 67%;
}
#city-saint-upper-text {
  left: 6.5%;
  top: 55%;
}
#city-saint-down-text {
  left: 6.5%;
  top: 67%;
}

/* Discover Airbnb Experiences section in main content starts here */
/* ---------------------------------------------------------- */

#discover-experiences {
  display: flex;
  position: relative;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: start;
  flex-direction: column;
  background-color: white;
  width: auto;
  height: 45.5%;
  top: 11.2%;
  margin-bottom: 27%;
}
#discover-experiences-title {
  display: flex;
  position: absolute;
  justify-content: center;
  background-color: white;
  width: auto;
  height: 14%;
}
#discover-experiences-title p {
  font-size: 32.5px;
  font-weight: bold;
}
#discover-experiences-content {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  width: 100%;
  height: 100%;
  top: 20%;
}
/* ------------------------------------------------------ */
#discover-experiences-content-left {
  display: flex;
  position: absolute;
  justify-content: center;
  width: 48.9%;
  left: 4%;
  height: 95%;
}
#discover-experiences-content-left p,
button,
img {
  display: flex;
  position: absolute;
  justify-content: center;
}
#discover-experiences-content-left p {
  display: flex;
  right: 52%;
  font-size: 250%;
  color: white;
  z-index: 1;
  position: absolute;
  justify-content: center;
  left: -1%;
  top: 0%;
  width: 47%;
  font-weight: bold;
  line-height: 113%;
}
#discover-experiences-content-left button {
  right: 77.5%;
  top: 26.5%;
  width: 23.7%;
  height: 8.1%;
  font-size: 16px;
  font-weight: 600;
  color: black;
  background-color: white;
  z-index: 1;
  display: flex;
  position: absolute;
  align-items: center;
  border-radius: 8px;
  border: none;
}
#discover-experiences-content-left button:hover {
  background-color: #ebebeb;
}

#discover-experiences-content-left img {
  display: flex;
  position: absolute;
  color: white;
  width: 100%;
  height: 100%;
  right: 8%;
  border-radius: 12px;
}
/* ------------------------------------------- */
#discover-experiences-content-right {
  display: flex;
  position: absolute;
  justify-content: center;
  width: 48.9%;
  right: 4%;
  height: 95%;
}

#discover-experiences-content-right p,
button,
img {
  display: flex;
  position: absolute;
  justify-content: center;
}
#discover-experiences-content-right p {
  display: flex;
  font-size: 250%;
  color: white;
  z-index: 1;
  position: absolute;
  justify-content: center;
  left: 15%;
  width: 47%;
  font-weight: bold;
  line-height: 113%;
}
#discover-experiences-content-right button {
  right: 52.8%;
  top: 26.4%;
  width: 32.3%;
  height: 8.2%;
  font-size: 16px;
  font-weight: 600;
  color: black;
  background-color: white;
  z-index: 1;
  display: flex;
  position: absolute;
  align-items: center;
  border-radius: 8px;
  border: none;
}
#discover-experiences-content-right button:hover {
  background-color: #ebebeb;
}

#discover-experiences-content-right img {
  display: flex;
  position: absolute;
  color: white;
  width: 100%;
  height: 100%;
  left: 8%;
  border-radius: 12px;
}
/*------SHOP airbnb gift cards-----------------------------*/
/* ---------------------------------------------------------- */

#shop {
  display: flex;
  position: relative;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  top: 0%;
  height: 33.4%;
  background-color: white;
}

#shop-left {
  display: flex;
  position: absolute;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  width: 20%;
  height: 100%;
  left: 0%;
  top: 0;
}

#shop-left p {
  position: absolute;
  color: black;
  align-items: center;
  top: -5.3%;
  left: 0%;
  font-size: 40px;
  font-weight: 800;
  line-height: 114%;
  letter-spacing: 0.01rem;
}

#shop-left button {
  border-radius: 8px;
  background-color: #222222;
  color: white;
  border: none;
  width: 55%;
  height: 10.8%;
  top: 29%;
  align-items: center;
  position: absolute;
  left: 0%;
  font-weight: 600;
  font-size: 16px;
}
/* --------------------------------------- */

#shop-right {
  display: flex;
  position: absolute;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  width: 61.9%;
  right: 0%;
  height: 100%;
  top: 3%;
}

#shop-right img {
  height: 100%;
  width: 120%;
  position: absolute;
  left: -9.32%;
  top: 0.5%; /* overflow-x: hidden; */
}

/*------QUESTIONS-------bottom-img---------------------*/
/* ---------------------------------------------------------- */

.bottom-img-part {
  display: flex;
  flex-direction: column;
  width: 114%;
  height: 50%;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  right: 7.4%;
  /* box-sizing: border-box; */ /* overflow-x: hidden; */
}

.bottom-img {
  width: 100%;
  justify-content: center;
  height: 100%;
  position: absolute;
}

.bottom-img-txt {
  position: absolute;
  left: 6.4%;
  top: 13.4%;
  text-align: left;
}

.question {
  font-size: 74px;
  font-weight: 600;
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 77px;
}

.ask-superhost {
  border: none;
  width: 49.2%;
  height: 21.6%;
  position: absolute;
  background-color: white;
  border-radius: 10px;
  color: black;
  font-family: Circular;
  font-size: 16px;
  font-weight: 500;
  margin-top: 56%;
  cursor: pointer;
}
.ask-superhost:hover {
  background-color: rgb(235, 235, 235);
}

/*-----------------------Inspiration for future getaways-------------------------*/
/* ---------------------------------------------------------- */

.future-getaways {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 30.5%;
  position: relative;
}

.future-getaways-title {
  position: absolute;
  font-family: Circular;
  font-weight: bold;
  font-size: 22px;
  top: 6%;
}

.bottom-link {
  position: absolute;
  top: 23%;
  width: 100%;
  height: 10.5%;
  border-bottom: 1px solid rgb(233, 230, 230);
}
.bottom-link-item {
  display: flex;
  position: absolute;
  width: 100%;
  left: -0.5%;
  height: 90%;
  align-items: center;
}
.bottom-link button {
  border-style: none;
  background: white;
  font-size: 14px;
  font-family: Circular;
  font-weight: bold;
  color: #7c7c7c;
  cursor: pointer;
  border: none;
  background-color: white;
  margin-right: 0.9%;
  padding: 0% 0.9%;
  height: 107%;
  position: relative;
  bottom: 2px;
}

.bottom-link div button:hover {
  background-color: rgb(247, 247, 247);
  border-radius: 8px;
}

#bottom-link-item-1:hover::before {
  content: "";
  position: absolute;
  z-index: 1;
  left: 4%;
  right: 4%;
  bottom: 5%;
  background: #000000;
  height: 2px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
#bottom-link-item-2:hover::before {
  content: "";
  position: absolute;
  z-index: 1;
  left: 4%;
  right: 4%;
  bottom: 5%;
  background: #000000;
  height: 2px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
#bottom-link-item-3:hover::before {
  content: "";
  position: absolute;
  z-index: 1;
  left: 4%;
  right: 4%;
  bottom: 5%;
  background: #000000;
  height: 2px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
#bottom-link-item-4:hover::before {
  content: "";
  position: absolute;
  z-index: 1;
  left: 4%;
  right: 4%;
  bottom: 5%;
  background: #000000;
  height: 2px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
#bottom-link-item-5:hover::before {
  content: "";
  position: absolute;
  z-index: 1;
  left: 4%;
  right: 4%;
  bottom: 5%;
  background: #000000;
  height: 2px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
#bottom-link-item-6:hover::before {
  content: "";
  position: absolute;
  z-index: 1;
  left: 4%;
  right: 4%;
  bottom: 5%;
  background: #000000;
  height: 2px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

/* ------------------------------------------ */
.loctaions-nav {
  display: flex;
  position: absolute;
  justify-content: space-around;
  top: 30%;
  width: 101.7%;
}
.loctaions-nav span {
  font-size: 14px;
  line-height: 18px;
}

.location-link {
  flex: 10;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.location-link-item {
  display: flex;
  flex-direction: column;
}

.location-city {
  margin-bottom: 9%;
  color: gray;
}

.location-link-item span {
  cursor: pointer;
}

.show-more {
  text-decoration: underline;
  font-weight: bold;
}
/*-------------------footer---------------------------*/
/* ---------------------------------------------------------- */
footer {
  background-color: rgb(241, 238, 238);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
  position: relative;
}
.footer {
  background-color: rgb(241, 238, 238);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
}
.footer-item {
  display: flex;
  margin-top: 50px;
  margin-left: 80px;
  margin-right: 80px;
}
.location-link-footer {
  margin-top: 50px;
}
.location-link-footer-title {
  font-size: 16px;
  font-weight: 600;
}
.footer-link-item {
  display: flex;
  flex-direction: column;
}
.footer-link-item span {
  margin-top: 20px;
}
.footer-item span:hover {
  text-decoration: underline;
  cursor: pointer;
}
hr {
  margin: 50px;
}
.copyright-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px;
}
.languange-currency {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.languange-currency div {
  margin-right: 45px;
}
.languange-currency img {
  width: 20px;
  margin-right: 20px;
}
