body {
  background-color: white;
  margin: 0;
  width: 87.33333333333%;
  height: 100vw;
  margin: 0 auto;
  background: linear-gradient(
    to bottom,
    #000000 0%,
    #000000 937px,
    #ffffff 937px,
    #ffffff 100%
  );
  font-family: Circular;
}

/* header starts here */
/* ---------------------------------------------------------- */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: white;
  width: 100%;
  height: 80px;
}

/* logo in heder starts here */
/* ---------------------------------------------------------- */
.a-logo {
  width: 11.5%;
  height: 115.5%;
  margin-left: -1%;
}

/* central menu in header starts here */
/* ---------------------------------------------------------- */
.central-menu {
  display: flex;
  position: relative;
  align-items: center;
  align-content: center;
  justify-content: center;
  list-style: none;
  margin-left: 10%;
  width: 100%;
  line-height: 20px;
}
.central-menu li {
  display: flex;
  position: relative;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.central-menu a:hover {
  display: flex;
  position: relative;
  align-items: center;
  align-content: center;
  justify-content: center;
  color: rgb(190, 190, 190);
}
.central-menu li::before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  right: 50%;
  top: 139%;
  background: #ffffff;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.central-menu li:hover::before {
  left: 48%;
  right: 48%;
  top: 139%;
  height: 2px;
  border-radius: 20px;
}

.central-menu li a {
  display: flex;
  position: relative;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  font-size: 15px;
}
/* ----------------------------------- */
#central-menu-li1 {
  right: 11%;
}
#central-menu-li2 {
  right: 5.5%;
}
#central-menu-li3 {
  right: 0%;
}

#central-menu-a1 {
  position: relative;
}

#central-menu-a2 {
  position: relative;
  /* left: -34%; */
}
#central-menu-a3 {
  position: relative;
  /* left: -2%; */
}

/* right menu in header starts here */
/* ---------------------------------------------------------- */
.right-menu {
  display: flex;
  position: relative;
  align-items: center;
  align-content: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 30%;
  align-items: center;
}
.right-menu li {
  display: flex;
  position: relative;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.right-menu li a {
  position: relative;
  text-decoration: none;
  color: white;
  font-size: 13px;
  font-weight: bold;
  display: flex;
  position: relative;
  align-items: center;
  align-content: center;
  justify-content: center;
}
/* -----------------become host------------------- */
#right-menu-background-become {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background: transparent;
  border-radius: 24px;
  width: 100%;
  height: 38px;
  right: 22%;
}
#right-menu-background-become:hover {
  background: grey;
}
#right-menu-become {
  position: relative;
  left: 0%;
}
/* -----------------language------------------------ */
#right-menu-background-language {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  right: 10%;
  width: 28%;
  height: 28px;
  background: transparent;
  border-radius: 24px;
}
#right-menu-background-language:hover {
  background: grey;
}

#language {
  position: relative;
  width: 103%;
  height: 19px;
  filter: invert(100%);
  right: 5%;
  top: 1px;
}
/* ---------------user-------------------------- */
.user {
  display: flex;
  position: relative;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: white;
  height: 42px;
  width: 64%;
  border-radius: 42px;
  left: 2%;
}
#menu {
  position: relative;
  width: 43%;
  display: flex;
  position: relative;
  align-items: center;
  align-content: center;
  justify-content: center;
}
#user-icon {
  position: relative;
  width: 78%;
  /* right: -6%;
            bottom: -13%; */
}

/* main content starts here */
/* ---------------------------------------------------------- */
.content {
  width: 100%;
  height: 100%;
}
/* search bar in main content starts here */
/* ---------------------------------------------------------- */

.search-bar {
  position: relative;
  color: white;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 32px;
  width: 77%;
  height: 66px;
  margin: 0 auto;
  color: black;
  align-items: center;
}
/* ---------------------------------- */
.search-bar ul {
}
#search-bar-ul1 {
  position: relative;
  left: 1%;
}
#search-bar-ul2 {
  position: relative;
  left: -10%;
  border-left: 1px solid;
  border-left-style: groove;
}
#search-bar-ul3 {
  position: relative;
  left: -6%;
  border-left: 1px solid;
  border-left-style: groove;
}
#search-bar-ul4 {
  position: relative;
  left: 1%;
  border-left: 1px solid;
  border-left-style: groove;
}
.search-bar li {
  position: relative;
  list-style: none;
  left: -7%;
}
/* ---------------------------------- */
#search-bar-ul1-location {
  font-size: 12px;
  font-weight: bolder;
}
#search-bar-ul1-where {
  font-size: 14px;
  opacity: 60%;
}
/* ---------------------------------- */
#search-bar-ul2-check-in {
  font-size: 12px;
  font-weight: bolder;
}
#search-bar-ul2-add-dates1 {
  font-size: 14px;
  opacity: 60%;
}
/* ---------------------------------- */
#search-bar-ul3-check-out {
  font-size: 12px;
  font-weight: bolder;
}
#search-bar-ul3-add-dates2 {
  font-size: 14px;
  opacity: 60%;
}
/* ---------------------------------- */
#search-bar-ul4-guests {
  font-size: 12px;
  font-weight: bolder;
}
#search-bar-ul4-add-guests {
  font-size: 14px;
  opacity: 60%;
}
/* --------search-bar-magnifier------- */
#search-bar-magnifier {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.5%;
  height: 48px;
  background-image: radial-gradient(
    circle at center center,
    rgb(255, 56, 92) 0%,
    rgb(230, 30, 77) 27.5%,
    rgb(227, 28, 95) 40%,
    rgb(215, 4, 102) 57.5%,
    rgb(189, 30, 89) 75%,
    rgb(189, 30, 89) 100%
  );
  border-radius: 24px;
  left: -1%;
}
#search-icon-image {
  position: relative;
  display: flex;
  width: 33%;
  height: 31%;
  left: 1%;
}
#search-text {
  /* font-size: 16px;
        font-weight: bold;
        color: white; */
}

/* red section in main content starts here */
/* ---------------------------------------------------------- */

#redSection-help-refugees {
  background-color: #ff385c;
  height: 27%;
  border-radius: 12px;
  display: flex;
  position: relative;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-top: 6.9%;
}
#redSection-help-refugees-div {
  display: flex;
  position: relative;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  bottom: 4%;
}
#help {
  padding-left: 0%;
  padding-right: 0%;
  background: #ff385c;
  font-size: 37px;
  font-weight: bolder;
  color: white;
  line-height: 54%;
}
#LearnMore {
  border: 1px solid #ffffff;
  border-radius: 8px;
  color: white;
  font-size: 14px;
  padding: 8.9px 16.5px;
  text-decoration: none;
  font-weight: bold;
}

/* Let your curiosity in main content starts here */
/* ---------------------------------------------------------- */

#let-your-curiosity {
  display: flex;
  position: relative;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  width: auto;
  background-color: navajowhite;
  height: 43.5%;
  top: 7.5%;
}

#let-your-curiosity-div {
  display: flex;
  position: relative;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
#let-your-curiosity-pic {
  display: flex;
  position: absolute;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: 12px;
}
#let-your-curiosity-text {
  display: flex;
  position: absolute;
  align-items: center;
  align-content: center;
  justify-content: center;
  color: white;
  top: 59%;
  font-weight: bold;
  font-size: 233%;
}
#let-your-curiosity-button {
  display: flex;
  position: absolute;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: white;
  top: 78%;
  border-radius: 54px;
  width: 15%;
  height: 10%;
  font-size: 18px;
  font-weight: bold;
  
}
#let-your-curiosity-button p{
background: -webkit-linear-gradient(90deg, rgb(111, 1, 156) 0%, rgb(198, 1, 126) 135.12%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

/*bottom-img*/

.bottom-img-part {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 800px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bottom-img {
  width: 100%;
  justify-content: center;
  height: 700px;
  position: absolute;
}

.bottom-img-txt {
  position: absolute;
  left: 100px;
}

.question {
  font-size: 60px;
  font-weight: 600;
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
}

.ask-superhost {
  border: none;
  width: 170px;
  height: 50px;
  background-color: white;
  border-radius: 10px;
  color: black;
  font-size: 16px;
  font-weight: 450;
  margin-top: 300px;
  cursor: pointer;
}
.ask-superhost:hover{
  background-color: rgb(201, 200, 200);
}




/*inspration*/
.future-getaways {
  margin-left: 80px;
  margin-right: 80px;
}

.bottom-link div {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}

.future-getaways-title {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
}

.bottom-link div button {
  cursor: pointer;
  border: none;
  background-color: white;
  height: 40px;
}

.bottom-link div button:hover {
  background-color: rgb(241, 239, 239);
  border-radius: 5px;
}

.loctaions-nav {
  display: flex;
  justify-content: space-around;
}

.location-link {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.location-link-item {
  display: flex;
  flex-direction: column;
}

.location-city {
  margin-bottom: 20px;
  color: gray;
}

.location-link-item span {
  cursor: pointer;
}

.show-more {
  text-decoration: underline;
}
/*footer*/
.footer {
  height: 450px;
  background-color: rgb(241, 238, 238);
  width: 100%;
}
.footer-item {
  display: flex;
  margin-top: 50px;
  margin-left: 80px;
  margin-right: 80px;
}
.location-link {
  margin-top: 50px;
}
.location-link-title {
  font-size: 16px;
  font-weight: 600;
}
.footer-link-item {
  display: flex;
  flex-direction: column;
}
.footer-link-item span {
  margin-top: 20px;
}
.footer-item span:hover {
  text-decoration: underline;
  cursor: pointer;
}
hr {
  margin: 50px;
}
.copyright-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px;
}
.languange-currency {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.languange-currency div {
  margin-right: 45px;
}
.languange-currency img {
  width: 20px;
  margin-right: 20px;
}